<% if !task.new_record? %>
	<li class="list-group-item">
	<input type="checkbox" id="<%= task.id %>" <%= if task.status == "Done" then "checked" end %>/>
	<label for="<%= task.id %>">
			<%= task.name %>
	</label>
	<div class="list-item-buttons">
		<div class="list-item-icon up">
			<%= link_to image_tag("up.png"), up_path(task), method: "patch" %>
		</div>
		<div class="list-item-icon down"><%= link_to image_tag("down.png"), down_path(task), method: "patch" %></div>
		<div class="list-item-icon edit"><%= link_to image_tag("edit-small.png"), edit_task_path(task)%></div>
		<div class="list-item-icon trash"><%= link_to image_tag("trash-small.png"), task, method: :delete, data: { confirm: %{Are you sure you want to delete task "#{task.name}"?} } %></div>
	</div>
	</li>
<% end %>