<h1>Edit Task</h1>

<div class="row">
  <div class="span6 offset3" id="form">
    <%= form_for(@task) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <%= f.label :name %>
      <%= f.text_field :name, required: true, maxsize: 200 %>
      <%= f.label :status %>
      <%= f.select(:status, options_for_select([['New', 'New'], ['Done', 'Done']])) %>
      <%= f.label :deadline %>
      <%= f.date_select :deadline %>
      <%= f.time_select :deadline, :ignore_date => true %>
      <br />
      <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>