<h1>SIMPLE TODO LISTS</h1>
<h2>FROM RUBY GARAGE</h2>

<% @projects.each do |project|%>

    <div class="heading">
		<ul>
	  		<li class="icon-calendar">cal</li>
	  		<li class="project-title"><h1><%= project.title %></h1></li>
	  		<li class="icon-edit">
				<%= link_to "edit", edit_project_path(project) %>
	  		</li>
	  		<li class="icon-delete">
	  			<%= link_to "trsh", project, method: :delete, data: { confirm: "You sure?" } %>
	  		</li>
		</ul>
    </div>
    <form action="#" method="post">
		<div class="input-group">
	  	<span class="input-group-addon glyphicon glyphicon-plus"></span>
	  	<input type="text" class="form-control">
	  	<span class="input-group-btn">
        	<button class="btn btn-success" type="submit">Add Task</button>
	  	</span>
		</div>
    </form>
    
    <% if project.tasks.any? %>

    	<div class="list-wrapper">
			<ul class="list-group">
	  		
				<% project.tasks.each do |task| %>
			  		<li class="list-group-item">
			    		<input type="checkbox" id="<%= task.id %>"/>
			    		<label for="<%= task.id %>">
			      			<%= task.name %>
			    		</label>
			    		<div class="list-item-buttons">
			      			<div class="list-item-icon move">up</div>
			      			<div class="list-item-icon edit">edt</div>
			      			<div class="list-item-icon trash">trsh</div>
			    		</div>
			  		</li>
			  	<% end %>

			</ul>
    	</div>

	<% end %>

<% end %>

<a href="<%= new_project_path %>">
	<button type="button" class="btn btn-primary" id="add-todo-list">
		<span class="glyphicon glyphicon-plus"></span>
		Add TODO List
	</button>
</a>