<% provide(:title, 'New Project') %>
<h1>Create new Project</h1>

<div class="row">
  <div class="span6 offset3" id="form">
    <%= form_for(@project) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :title %>
      <%= f.text_field :title, required: true, maxsize: 200 %>
      <br />
      <%= f.submit "Create new project ", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>